language: php

php:
  - 5.3

services: mysql



before_script:
  - mysql -e 'create database myapphome;'
  - composer self-update
  - composer install

script:
  - phpunit
  - cd tests
  - ../vendor/behat/behat/bin/behat